.buffalo {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
}

.buffalo img {
  width: 100%;
}

.buffalo .nip {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.buffalo .uproot {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}
