.corpse {
  position: relative;
  width: 100vh;
  height: fit-content;
  flex-shrink: 0;
}

.corpse img {
  width: 100%;
  height: auto;
}

.corpse .autumn {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.corpse .winter {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.corpse .winter img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
