header {
  height: 100vh;
}

header .call-to-action {
  width: 210px;
  height: 45px;
  color: #000;
  font-family: "Nova Square";
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
  padding-top: 28px;
  padding-left: 69px;
}

header .call-to-action {
  width: 348px;
  height: 101px;
  border-radius: 44px;
  border: 6px solid #e8da61;
  background: #fff;
}

header h2 {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1.6px;
}

header h1 {
  font-family: "Nova Square";
}

header img {
  margin-top: -300px;
  width: 100%;
  background-image: url(/dist/img/homepage.b8a93535.png);
  background-repeat: no-repeat;
}
