header {
  height: 100vh;
}

header img {
  width: 100%;
  background-image: url(/src/img/homepage.png);
  background-repeat: no-repeat;
}

header .homepage-container {
  position: relative;

  .call-to-action {
    position: absolute;
    top: 75%;
    left: 68%;
  }

  .flèche {
    position: absolute;
    top: 85%;
    left: 50%;
  }
}

header button.call-to-action {
  width: 210px;
  height: 45px;
  color: #000;
  font-family: "Nova Flat";
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
  width: 348px;
  height: 101px;
  border-radius: 44px;
  border: 6px solid #e8da61;
  background: #fff;
}

.header-container {
  position: relative;

  p {
    position: absolute;
    top: 38%;
    left: 5%;
  }
}
