header {
  height: 100vh;
}

header .call-to-action {
  width: 210px;
  height: 45px;
  color: #000;
  font-family: "Nova Square";
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
  padding-top: 28px;
  padding-left: 69px;
}

header .call-to-action {
  width: 348px;
  height: 101px;
  border-radius: 44px;
  border: 6px solid #e8da61;
  background: #fff;
}
