.space p {
  width: 575px;
  height: 105px;
  color: #000;
  font-family: "Nova Flat";
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.352px;
  padding-top: 45px;
  padding-left: 160px;
}

.space p {
  width: 895px;
  height: 195px;
  border: 17px solid #000;
  background: #fff;
}

.space img {
  width: 100%;
  background-image: url(/src/img/espace.png);
  background-repeat: no-repeat;
}
