.tigers {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
}

.tigers .sky {
  width: 100%;
  height: 80vh;
  background-image: url(/src/img/ciel.png);
}

.tigers .tigers-image {
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 20;
  background-image: url(/src/img/tigre.png);
  background-repeat: no-repeat;
}

.tigres .jumping-sabre {
  width: 50%;
  height: 1000px;
  position: absolute;
  left: -19px;
  bottom: -880px;
  background-image: url(/src/img/saut.png);
}
