.tigers {
  height: 100vh;
  width: 100vh;
  flex-shrink: 0;
}

.tigers .sky {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/src/img/ciel.png);
}

.tigers .tigers-image {
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 8;
  background-image: url(/src/img/tigre.png);
  background-repeat: no-repeat;
}

.tigres .jumping-sabre {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -18px;
  bottom: -880px;
  background-image: url(/src/img/saut.png);
}
