body {
  overflow-x: hidden;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
* {
  box-sizing: border-box;
}

.scroller-stroll {
  background: #ffffff;
  height: 100vh;
  overflow: hidden;
  transform-origin: center center;
}

.screens-stroll {
  display: inline-flex;
  height: 100%;
}

.screens-stroll > div {
  width: 100vw;
}
.jumping-sabre {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 20%;
  bottom: -300px;
  background-color: #d9ae93;
}
