@import "font";
@import "base";
@import "layout";

@import "modules/header";
@import "modules/space";
@import "modules/cave";
@import "modules/savane";

@import "modules/tigers";
@import "modules/buffalo";
@import "modules/corpse";

@import "modules/footer";
